<h1>Facebook Yorch App</h1>
<div>
    <% @posts.each do |post| %>
        <p>
            <%= post.title %> <br>
            <%= post.body %> <br>
            Author: <small><strong><%=post.user.email %></strong></small>
        </p>
    <% end %>
</div>